
#produc
REACT_APP_MORALIS_APPLICATION_ID =
REACT_APP_MORALIS_SERVER_URL =
REACT_APP_MORALIS_MARKET_TABLE=MarketItemC
REACT_APP_MORALIS_MARKET_ADDRESS=

#TEST
#REACT_APP_MORALIS_APPLICATION_ID =2nOE34wR6Srl8ni8DQ55WixIWmJhy38JVUpu0Ik8
#REACT_APP_MORALIS_SERVER_URL =https://dlthannjzrrg.usemoralis.com:2053/server
#REACT_APP_MORALIS_MARKET_TABLE=MarketItemC
#REACT_APP_MORALIS_MARKET_ADDRESS=